@layer base {
   @font-face {
      font-family: 'Sofia';
      src: url('../fonts/Sofia/Sofia Pro ExtraLight Az.ttf') format('truetype');
   };
   @font-face {
      font-family: 'Sofia Bold';
      src: url('../fonts/Sofia/Sofia Pro Regular Az.ttf') format('truetype');
   }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
